<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>iBarber</title>
</head>
<body>
    <header>
        <div id="logo"><img src="images/logo-ibarber-2.png" alt="logo-ibarber" class="logo-header"></div>
        <input type="checkbox" id="checkbox-menu">
        <label for="checkbox-menu"><span class="material-icons-outlined">menu</span></label>
        <nav>
            <ul id="header-logo-nav">
                <li class="header-items"><a href="/" class="header-links">HOME</a></li>
                <li class="header-items">QUEM SOMOS</li>
                <li class="header-items">CONTATO</li>
                <li class="header-items">AJUDA</li>
                <li class="header-items"><a href="/signup" class="header-links">CADASTRE-SE</a></li>
            </ul>
        </nav>
        <div id="search-login">
            <div>
                <ul id="header-search">
                    <li  class="search"><a href="/barbershop-search-list">BUSCAR</a></li>
                    <li><span class="material-icons-outlined">search</span></li>
                </ul>
            </div>
            <div>
                <ul id="header-login">
                    <li  class="login"><a href="/login">LOGIN</a></li>
                    <li><span class="material-icons-outlined">login</span></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="home-main">
        <section class="banner">
            <h1 id="frase-banner">AQUI BARBA, CABELO E BIGODE SÃO COISAS SÉRIAS!</h1>
        </section>
        <section class="quem-somos">
                <div id="img-quem-somos"></div>
                <div>
                    <h2 class="subtitulo-quem-somos-index">QUEM SOMOS</h2>
                    <p class="texto-subtitulo-index">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <p class="link-subtitulo-index"><a href="/signup">CADASTRE-SE</a></p>
                </div>
        </section>
        <section class="para-dar-aquele-trato">
                <div>
                    <h2 class="subtitulo-index">PARA DAR AQUELE TRATO</h2>
                    <ul class="texto-lista-subtitulo-index">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                    </ul>
                    <p class="link-subtitulo-index"><a href="/barbershop-search-list">ENCONTRE UMA BARBEARIA</a></p>
                </div>
                <div id="img-para-dar-aquele-trato"></div>
        </section>
        <section class="tenho-uma-barbearia">
                <div id="img-tenho-uma-barbearia"></div>
                <div>
                    <h2 class="subtitulo-index">TENHO UMA BARBEARIA</h2>
                    <ul class="texto-lista-subtitulo-index">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                    </ul>
                    <p class="link-subtitulo-index">CADASTRE-SE E FAÇA PARTE</p>
                </div>
        </section>
    </main>
    <footer>
        <div class="footer-top">
            <div class="footer-nav">
                <ul>
                    <li>SOBRE NÓS</li>
                    <li>CONTATO</li>
                    <li>AJUDA</li>
                </ul>
            </div>
            <div class="logo-footer"></div>
            <div class="social-media">
                <ul>
                    <li><i class="fa fa-facebook-square"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-twitter-square"></i></li>
                </ul>
            </div>
        </div>
        <div class="footer-address-copyright">
            <p>CNPJ: XX.XXX.XXX/XXXX-XX / Endereço Avenida Paulista 123 - São Paulo, SP - 01311-000 </p>
            <p>© Copyright 2021 - iBarber - Todos os direitos reservados </p>
        </div>
    </footer>
</body>
</html>